body {
    background-color: #205e58;
}

/* Simple CSS Spinner */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #205e58;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Loader style */
#loader {
    text-align: center;
    margin-top: 50px;
}

/* Hide the form initially */
#wordForm {
    display: none; /* Hidden at first */
    text-align: center;
    margin-top: 30px;
    opacity: 0;  /* Start invisible */
    transition: opacity 1s ease-in-out; /* Animate opacity change */
}

/* Fade-in effect for the form */
#wordForm.show {
    opacity: 1; /* Fade in the form */
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}